<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>PARSER_4510</title>
</head>

<body>
Список товаров сайта TAMARIS.RU
	<table border = 1>
		<thead>
			<tr>
				<th> заголовок столбца 1</th>
				<th> заголовок столбца 2 </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> ячейка 1-1 </td>
				<td> ячейка 1-2 </td>
			</tr>
			<tr> 
				<td> ячейка 2-1 </td>
				<td> {{data1}} </td>
			</tr>
		</tbody>
	</table>

    тест один {{data1}} <br>
	тест два {{data2}} <br>
	тест три {{data3}} <br>

</body>