<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>PARSER_4510</title>
</head>

<body>
	<style>
		body {
		  background-color: #808080;
		}
		</style>
	<div id="block-left">200 ТОВАРОВ САЙТА TAMARIS.RU</div>
	<div id="block-right">
	<table border=1 style="width:100%">
		<thead>
			<tr>
				<th> N </th>
                <th> ТОВАР </th>
                <th> ЦЕНА </th>
			</tr>
		</thead>
		<tbody>

			{%for cell in products%}
			<tr>
				<td> {{cell[0]}} </td>
                <td> <a href={{cell[2]}}> {{cell[1]}} </a> </td>
                <td> {{cell[3]}} </td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
	</div>
</body>