<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>4510</title>
</head>


<body>
	<style>
		.container div{
			float:left;
			margin-bottom:20px
		}
		.header_text{
			width:50%;
			height:auto;
			background-color: green;
		}
		.stat_table{
			width:50%;
			height:auto;
			background-color: #808080;
		}
		.product_table{
			width:50%;
			background-color: red;
		}
	</style>

	<div class="container">

		<div class="header_text">
			<h2>Список всех товаров сайта TAMARIS.RU<h2>
			<!-- img src = "static/shoes.jpg" class = image -->
		</div>

		<div class="stat_table">
			<table border = 1>
				<tr>
					<th>Дата обновления данных</th>
					<td>{{value[0][1]}}</td>
				</tr>
				<tr>
					<th>Количество товаров</th>
					<td>{{value[0][2]}}</td>
				</tr>
				<tr>
					<th>Добавлено товаров</th>
					<td>{{value[0][3]}}</td>
				</tr>
				<tr>
					<th>Удалено товаров</th>
					<td>{{value[0][4]}}</td>
				</tr>
			</table>	
		</div>

	</div> <!--end container-->


</body>